{% extends 'music/base.html' %} <!-- This should be the 1st line of each file if we extend any html file-->
{% block albums_active %}active{% endblock %}
<!--We are commenting the all of this because we are creating a base file in which all of the styling of html is done-->
<!-- load the path to your static files-->
<!--{% load staticfiles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{% static 'music/style.css'%}"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->

<!--<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!--Header-->-->
        <!--<div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle = "collapse" data-target = "#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'music:index' %}">Viberr</a>
        </div>-->

        <!--Items-->
       <!-- <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="{% url 'music:index' %}">
                        <span class="glyphicon glyphicon-cd" aria-hidden="true"></span>&nbsp; Albums
                    </a>
                </li>
                <li class="">
                    <a href="#">
                        <span class="glyphicon glyphicon-music" aria-hidden="true"></span>&nbsp; Songs
                    </a>
                </li>
            </ul>

            <form class="navbar-form navbar-left" role="search" method="get" action="#">
                <div class="form-group">
                    <input type="text" class="form-control" name="query" value="">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="#">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Add Album
                    </a>
                </li>
                <li class="">
                    <a href="#">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                    </a>
                </li>
            </ul>

        </div>
    </div>
</nav>-->



    <!--{% if all_albums %}
        <h3>Here are all my Albums:</h3>
        <ul>-->
            <!--{% for albums in all_albums %}--><!-- When you use python code in html use this symbol-->
            <!--<li><a href="/music/{{ albums.id }}/">{{ albums.album_title }}</a> </li>We will remove hard coded url-->
              <!-- <li><a href="{% url 'music:detail' albums.id %}">{{ albums.album_title }}</a> </li>
            {% endfor %}
        </ul>
    {% else %}
        <h3>You dont have any albums</h3>
    {% endif %}-->
{% block body %}
    <div class="albums-container container-fluid">
        <div class="row">
            {% for albums in all_albums %}
                <div class="col-sm-4 col-lg-2">
                    <div class="thumbnail">
                        <!--Album logo-->
                        <a href="{% url 'music:detail' albums.id %}">
                            <img src="{{albums.album_logo}}" class="img-responsive">
                        </a>
                        <div class="caption">
                            <h2>{{all_albums.album_title}}</h2>
                            <h4>{{all_albums.artist}}</h4>

                            <a href="{% url 'music:detail' albums.id %}" class="btn btn-primary btn-sm">View Details</a>

                            <!--Delete-->
                            <form action="{% url 'music:albumdelete' albums.id %}" method="post" style="display: inline;">
                                {%csrf_token%}
                                <input type="hidden" name="album_id" value="{{albums.id}}"/>
                                <button type="submit" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </form>

                            <!--Favorite-->
                            <a href="#" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-star {% if album.is_favorite %}active{% endif %}"></span>
                             </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}